@use '../../constants/color.constants.scss' as colors;

.toolbar {
  ion-title {
    color: colors.$title-text;
  }
}

.segmentButton {
  color: colors.$title-text;
  width: 18%;
}

.segment-button-checked {
  color: colors.$custom-secondary !important; // it works properly
  // --background-checked: #cadcf7 !important;
}

.generalInfo {
  font-size: 0.77em;
  padding: 0;
}

.generalInfoHeader {
  display: flex;
  font-size: 1em;
  justify-content: space-between;
  margin: 0;
  padding: 6px 6px 0;
}

.editIcon {
  margin-top: 0.2em;
  padding: 0.5em;
}

ion-card {
  background-color: colors.$card-bakground;

  ion-card-header {
    ion-card-title {
      color: colors.$custom-secondary;
      font-size: 1.2em;
      font-weight: 500;
    }
  }
}

.detail-row {
  padding-left: 0.25em;

  .detail-col {
    display: flex;
    justify-content: flex-start;

    p {
      color: colors.$cellText;
      font-size: 0.77em;
      font-weight: 700;
      margin: 0.3em;
      padding: 0;
    }

    .detail-value {
      font-weight: 300;
    }
  }
}

.pxLabel {
  text-align: center;
  margin: 0.1em;
  width: 100%;
}

.xp-table {
  background-color: colors.$row-odd-color;
  padding: 0;

  .xp-header {
    background-color: colors.$header-color;
    color: colors.$headerText;
    margin: 0;
  }

  .xp-data {
    margin: 0.1em;

    .xp-table-cell {
      display: flex;
      justify-content: center;

      .xp-table-cell-value {
        color: colors.$cellText;
        margin: 0.1em;
      }
    }
  }
}

