<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ "INFO_PAGE.TITLE" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card >
    <ion-icon name="information-circle" size="large" color="primary" ></ion-icon>
    <ion-card-content>
      <ion-text >
        <h4>{{ "INFO_PAGE.VERSION" | translate }} {{ version }}</h4>
        <h4>{{ "INFO_PAGE.MAIN_TEXT" | translate }}</h4>
        <a  href="https://www.buymeacoffee.com/PepeMG">{{ "INFO_PAGE.BUY" | translate }}</a>
        <h4>{{ "INFO_PAGE.NO_GOSSIP_TEXT" | translate }}</h4>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
