  <div ngClass="wrapper">
    <ion-toolbar>
      <h3>
        {{ "EDIT.EDITION" | translate }} ( {{ character.getName() }} )
      </h3>
    </ion-toolbar>
    <container-element [ngSwitch]="section">
      <app-edit-main-info
        *ngSwitchCase="id.MAIN_INFO"
        [character]="character"
        (exitModal)="cancel()"
        (saveCharacter)="confirm()">
      </app-edit-main-info>
      <app-edit-atributes
        *ngSwitchCase="id.ATRIBUTES"
        title= "{{ 'DETAIL_PAGE.GENERAL_SEC.ATRIBUTES' | translate }}"
        (exitModal)="cancel()"
        (saveCharacter)="confirm()">
      </app-edit-atributes>
      <app-edit-list
        *ngSwitchCase="id.TITLES"
        title="{{ 'DETAIL_PAGE.GENERAL_SEC.TITLES' | translate }}"
        [listType]="listTypes.TITLES"
        (exitModal)="cancel()"
        (saveCharacter)="confirm()">
      </app-edit-list>
      <app-edit-powers
        *ngSwitchCase="id.POWERS"
        (exitModal)="cancel()"
        (saveCharacter)="confirm()">
      </app-edit-powers>
      <app-edit-skills
        *ngSwitchCase="id.PRIMARY_SKILLS"
        title= "{{ 'DETAIL_PAGE.SKILLS_SEC.PRIMARY_SKILLS' | translate }}"
        [type]="skillTypes.PRIMARY"
        (exitModal)="cancel()"
        (saveCharacter)="confirm()">
      </app-edit-skills>
      <app-edit-skills
        *ngSwitchCase="id.SECONDARY_SKILLS"
        title= "{{ 'DETAIL_PAGE.SKILLS_SEC.SECONDARY_SKILLS' | translate }}"
        [type]="skillTypes.SECONDARY"
        (exitModal)="cancel()"
        (saveCharacter)="confirm()">
      </app-edit-skills>
      <app-edit-skills
        *ngSwitchCase="id.SOCIAL_FEATS"
        title= "{{ 'DETAIL_PAGE.BACKGROUND_SEC.SOCIAL_FEATS' | translate }}"
        [type]="skillTypes.SOCIAL"
        (exitModal)="cancel()"
        (saveCharacter)="confirm()">
      </app-edit-skills>
      <app-edit-list
        *ngSwitchCase="id.OTHER_EQIUP"
        title="{{ 'DETAIL_PAGE.BACKGROUND_SEC.OTHER_EQIUP' | translate }}"
        [listType]="listTypes.EQUIP"
        (exitModal)="cancel()"
        (saveCharacter)="confirm()">
      </app-edit-list>
      <app-edit-list
        *ngSwitchCase="id.GLORY"
        title="{{ 'DETAIL_PAGE.GENERAL_SEC.GLORY' | translate }}"
        [listType]="listTypes.GLORY"
        (exitModal)="cancel()"
        (saveCharacter)="confirm()">
      </app-edit-list>
      <app-edit-list
        *ngSwitchCase="id.INFAMY"
        title="{{ 'DETAIL_PAGE.GENERAL_SEC.INFAMY' | translate }}"
        [listType]="listTypes.INFAMY"
        (exitModal)="cancel()"
        (saveCharacter)="confirm()">
      </app-edit-list>
      <app-edit-list
        *ngSwitchCase="id.OTHERS_NOTES"
        title="{{ 'DETAIL_PAGE.BACKGROUND_SEC.OTHERS_NOTES' | translate }}"
        [listType]="listTypes.OTHERS_NOTES"
        (exitModal)="cancel()"
        (saveCharacter)="confirm()">
      </app-edit-list>
      <app-edit-list
        *ngSwitchCase="id.TITLES"
        title="{{ 'DETAIL_PAGE.GENERAL_SEC.TITLES' | translate }}"
        [listType]="listTypes.TITLES"
        (exitModal)="cancel()"
        (saveCharacter)="confirm()">
      </app-edit-list>
   </container-element>
  </div>
