  <div ngClass="wrapper">
    <ion-toolbar>
      <h3>
        {{ "EDIT.EDITION" | translate }} ( {{ character.getName() }} )
      </h3>
    </ion-toolbar>
    <container-element [ngSwitch]="section">
      <app-edit-main-info
        *ngSwitchCase="id.MAIN_INFO"
        [character]="character"
        (exitModal)="cancel()"
        (saveCharacter)="confirm()">
      </app-edit-main-info>
      <app-edit-atributes
        *ngSwitchCase="id.ATRIBUTES"
        title= "{{ 'DETAIL_PAGE.GENERAL_SEC.ATRIBUTES' | translate }}"
        (exitModal)="cancel()"
        (saveCharacter)="confirm()">
      </app-edit-atributes>
      <app-edit-powers
      *ngSwitchCase="id.POWERS"
      (exitModal)="cancel()"
      (saveCharacter)="confirm()">
      </app-edit-powers>
      <app-edit-skills
        *ngSwitchCase="id.PRIMARY_SKILLS"
        title= "{{ 'DETAIL_PAGE.SKILLS_SEC.PRIMARY_SKILLS' | translate }}"
        [type]="skillTypes.PRIMARY"
        (exitModal)="cancel()"
        (saveCharacter)="confirm()">
      </app-edit-skills>
      <app-edit-skills
        *ngSwitchCase="id.SECONDARY_SKILLS"
        title= "{{ 'DETAIL_PAGE.SKILLS_SEC.SECONDARY_SKILLS' | translate }}"
        [type]="skillTypes.SECONDARY"
        (exitModal)="cancel()"
        (saveCharacter)="confirm()">
      </app-edit-skills>
   </container-element>
  </div>
