@use '../../constants/color.constants.scss' as colors;
@use '../../constants/style.constants.scss' as style;

.numeric-value {
  color: colors.$cellText;
  margin: 0;
}

.labelForNumber {
  color: colors.$header-color;
  text-align: right;
  width: 100%;
}

