<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ "DICES_PAGE.TITLE" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="5" offset="1">
            <p class="labelForNumber">{{ "DICES_PAGE.ATRIBUTE" | translate }}</p>
          </ion-col>
          <ion-col size="4" class="line">
            <ion-icon class="miniButton" name="remove-outline" (click)="removeAtribute()"></ion-icon>
            <p class="numeric-value">{{ data.attribute }}</p>
            <ion-icon class="miniButton" name="add-outline" (click)="addAtribute()"></ion-icon>
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center">
          <ion-col size="5" offset="1">
            <p class="labelForNumber">{{ "DICES_PAGE.SKILL" | translate }}</p>
          </ion-col>
          <ion-col size="4" class="line">
            <ion-icon class="miniButton" name="remove-outline" (click)="removeSkill()"></ion-icon>
            <p class="numeric-value">{{ data.skill }}</p>
            <ion-icon class="miniButton" name="add-outline" (click)="addSkill()"></ion-icon>
          </ion-col>
         </ion-row>

        <ion-row class="ion-align-items-center">
          <ion-col size="5" offset="1">
            <p class="labelForNumber">{{ "DICES_PAGE.MOD" | translate }}</p>
          </ion-col>
          <ion-col size="4" class="line">
            <ion-icon class="miniButton" name="remove-outline" (click)="removeModif()"></ion-icon>
            <p class="numeric-value">{{ data.modif }}</p>
            <ion-icon class="miniButton" name="add-outline" (click)="addModif()"></ion-icon>
          </ion-col>
         </ion-row>


    </ion-grid>

    <ion-button class="ion-margin ion-float-right" (click)="rollDice(data)">
      {{ "DICES_PAGE.ROLL" | translate }}
      <ion-icon slot="start" name="dice-outline"></ion-icon>
    </ion-button>

  </ion-card>
</ion-content>
