<div class="editionWrapper">
  <ion-card>
    <h5>{{ title }}</h5>
      <ion-select
        class="detail-value"
        interface="popover"
        placeholder="{{ 'DETAIL_PAGE.GENERAL_SEC.ATRIBUTES' | translate }}"
        (ionChange)="handleChange($event)"
        [interfaceOptions]="{size: 'cover'}">
        <ion-select-option [value]="atributeFields.AGILITY">{{ "EDIT.ATRIBUTES.AGILITY" | translate }}</ion-select-option>
        <ion-select-option [value]="atributeFields.APPEAR">{{ "EDIT.ATRIBUTES.APPEAR" | translate }}</ion-select-option>
        <ion-select-option [value]="atributeFields.COMMUN">{{ "EDIT.ATRIBUTES.COMMUN" | translate }}</ion-select-option>
        <ion-select-option [value]="atributeFields.MIND">{{ "EDIT.ATRIBUTES.MIND" | translate }}</ion-select-option>
        <ion-select-option [value]="atributeFields.REFLEX">{{ "EDIT.ATRIBUTES.REFLEX" | translate }}</ion-select-option>
        <ion-select-option [value]="atributeFields.RESIST">{{ "EDIT.ATRIBUTES.RESIST" | translate }}</ion-select-option>
        <ion-select-option [value]="atributeFields.SENSE">{{ "EDIT.ATRIBUTES.SENSE" | translate }}</ion-select-option>
        <ion-select-option [value]="atributeFields.SOUL">{{ "EDIT.ATRIBUTES.SOUL" | translate }}</ion-select-option>
        <ion-select-option [value]="atributeFields.STRENGTH">{{ "EDIT.ATRIBUTES.STRENGTH" | translate }}</ion-select-option>
      </ion-select>
      <div *ngIf="selectedAtribute">
        <container-element [ngSwitch]="selectedAtribute">
          <div *ngSwitchCase="atributeFields.AGILITY">
            <p>{{ "EDIT.LEVEL" | translate }}: </p>
            <p>{{ atributes.getAgility().getValue() }} </p>

          </div>
          <div *ngSwitchCase="atributeFields.APPEAR">
            <p>{{ "EDIT.LEVEL" | translate }}: </p>
            <p>{{ atributes.getAppearance().getValue() }} </p>
          </div>
       </container-element>
      </div>

    <div class="butonRow">
      <ion-button size="small" (click)="handleExit()" class="lightButton">
        <ion-icon name="exit-outline"></ion-icon> {{ "EDIT.EXIT" | translate }}
      </ion-button>
      <ion-button size="small" (click)="handleSave()" class="saveButton">
        <ion-icon name="server-outline"></ion-icon> {{ "EDIT.SAVE" | translate }}
      </ion-button>
    </div>
  </ion-card>

</div>

