<div class="editionWrapper">
  <ion-card>
    <h5>{{ title }}</h5>
      <ion-select
        class="detail-value"
        interface="popover"
        placeholder="{{ 'DETAIL_PAGE.GENERAL_SEC.ATRIBUTES' | translate }}"
        (ionChange)="handleChange($event)">
        <ion-select-option [value]="atributeFields.AGILITY">{{ "EDIT.ATRIBUTES.AGILITY" | translate }}</ion-select-option>
        <ion-select-option [value]="atributeFields.APPEAR">{{ "EDIT.ATRIBUTES.APPEAR" | translate }}</ion-select-option>
        <ion-select-option [value]="atributeFields.COMMUN">{{ "EDIT.ATRIBUTES.COMMUN" | translate }}</ion-select-option>
        <ion-select-option [value]="atributeFields.MIND">{{ "EDIT.ATRIBUTES.MIND" | translate }}</ion-select-option>
        <ion-select-option [value]="atributeFields.REFLEX">{{ "EDIT.ATRIBUTES.REFLEX" | translate }}</ion-select-option>
        <ion-select-option [value]="atributeFields.RESIST">{{ "EDIT.ATRIBUTES.RESIST" | translate }}</ion-select-option>
        <ion-select-option [value]="atributeFields.SENSE">{{ "EDIT.ATRIBUTES.SENSE" | translate }}</ion-select-option>
        <ion-select-option [value]="atributeFields.SOUL">{{ "EDIT.ATRIBUTES.SOUL" | translate }}</ion-select-option>
        <ion-select-option [value]="atributeFields.STRENGTH">{{ "EDIT.ATRIBUTES.STRENGTH" | translate }}</ion-select-option>
      </ion-select>
      <div *ngIf="selectedAtribute">
        <div class="atribute-row">
          <p>{{ "EDIT.LEVEL" | translate }}: </p>
          <ion-icon class="miniButton" name="remove-outline" (click)="removeAtribute()"></ion-icon>

          <p class="value">{{ getAtribute().getValue() }} </p>
          <ion-icon class="miniButton" name="add-outline" (click)="addAtribute()"></ion-icon>

        </div>

        <h5>{{ "DETAIL_PAGE.BACKGROUND_SEC.MODIF" | translate }}</h5>
        <app-table
          [data]="modData"
          [dataConfiguration]="monDataConf">
        </app-table>
        <div class="butonRow-edit">
          <ion-button size="small" (click)="removeMod()" class="mediumButton">
            <ion-icon name="remove-outline"></ion-icon> {{ "EDIT.REMOVE" | translate }}
          </ion-button>
          <ion-button size="small" (click)="addMod()"  class="mediumButton">
            <ion-icon name="add-outline"></ion-icon> {{ "EDIT.ADD" | translate }}
          </ion-button>
        </div>
      </div>
    <div class="butonRow">
      <ion-button size="small" (click)="handleExit()" class="lightButton">
        <ion-icon name="exit-outline"></ion-icon> {{ "EDIT.EXIT" | translate }}
      </ion-button>
      <ion-button size="small" (click)="handleSave()" class="saveButton">
        <ion-icon name="server-outline"></ion-icon> {{ "EDIT.SAVE" | translate }}
      </ion-button>
    </div>
  </ion-card>

</div>

